doctype html
html
    head
        meta(encoding="UTF-8")
        title #{title}
        link(rel="stylesheet" href="./style/style.css")
        <script src="/jquery.js"></script>  
    body 
        block content