extends default

block content
    div.container
        div.loginBox
            h1 Enter Credentials
            form(method="post" action="/login")
                label Eesnimi:
                input(type="text" name="firstName" placeholder="sisestage Eesnimi")
                label Perenimi:
                input(type="text" name="familyName" placeholder="sisestage Perenimi")
                label Email:
                input(type="text" name="email" placeholder="sisestage Email")
                br
                br
                label.center.big Haaleta
                div#voteBox
                    label poolt
                    input(type="radio" name="vote" id="with" value="poolt")
                    label vastu
                    input(type="radio" name="vote" id="against" value="vastu")
                input(type="submit" value="Haaleta")#submitCredentials
            if error 
                p#error VOTE INVALID