extends default

block content
    div.container
        div.loginBox
            h1 Lisa Andmed
            form(method="post" action="/login")
                label Isikukood
                input(type="text" minlength=11 maxlength=11)#isikField
                label Telefon 
                input(type="number")
                br
                br
                label.center.big Erakonnad
                div#voteBox
                    button.voteBtn EKRE
                    button.voteBtn Keskerakond
                    button.voteBtn Eesti 2000
                    button.voteBtn Republicans
                input(type="submit" value="Hääleta")#submitCredentials
            if error 
                p#error Viga
                p.error#dataError Mitte kehtiv ID