extends default

block content
    
    div.container
        a(href="/")#backBtn <- back to credentials
        div.answers
            h1 voted against #{againstPerson} 22
            h1 all votes #{allVotes} 54
            h1 voted with #{withPerson} 32