extends default

block content
    
    div.container
        a(href="/")#backBtn <- back to credentials
        div.answers
            h1 voted against 
                span.big.red #{againstPerson} 22
            h1 all votes 
                span.small #{allVotes} 54
            h1 voted with 
                span.big.green #{withPerson} 32