extends default

block content 
    div.container
        div.votingBox
            div#firstBox
                button#againstBtn Vastu
            div#timerBox time: #{time}
            div#secondBox
                button#withBtn Poolt
    script(src="./voting.js")