extends default

block content 
    div.container
        div.votingBox
            div#firstBox
                button#againstBtn Vastu
            div#timerBox #{time} 01 Jan 1970 00:00:00 GMT
            div#secondBox
                button#withBtn Poolt
    script(src="./voting.js")